@charset "utf-8";
/* CSS Document */

h1,h2,h3,p{
	font-weight: normal;
	padding: 0;
	margin: 0;
}
h2{
	float: left;
	width: 100%;
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #666;
	margin: 0;
}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	border: 0px;
}
a{
	color: #666;
	text-decoration: none;
}
body{
	background: url(../images/body.jpg) repeat;
}
#wp{
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	left: 0;
	top: 0;
}
.ot{
	width: 950px;
	margin: 0 auto 0 auto;
}
#line_box{
	float: left;
	width: 100%;
	height: 35px;
	background: #C00;
}
#line_box .line.ot{
	height: 35px;
	font-family: '微軟正黑體';
	font-size: 13px;
}
#line_box .line.ot .go_link{
	width: 200px;
	height: 35px;
	float: left;
}
#line_box .line.ot .go_link ul{
	width: 200px;
	height: 35px;
	float: left;
}
#line_box .line.ot .go_link ul li{
	float: left;
	height: 35px;
	line-height: 35px;
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #FFF;
}
#line_box .line.ot .go_link ul li a{
	color: #FFF;
}
#line_box .line.ot .go_link ul li img{
	float: left;
}
#line_box .line.ot .sp_innk{
	float: right;
	height: 35px;
	line-height: 35px;
	font-family: '微軟正黑體';
	font-size: 12px;
	color: #FFF;
}
#line_box .line.ot .sp_innk a{
	color: #FC0;
}
#line_box .line.ot .sp_innk a:hover{
	color: #FFF;
}
/*#head_box*/
#head_box{
	width: 100%;
	float: left;
	margin: 10px 0 14px 0;
}
#head_box .head.ot{	
	height: 50px;
	background: rgba(255,255,255,0.55);
}
/* LOGO */
#head_box .head.ot .logo{
	height: 50px;
	float: left;
}
/* MENU */
#head_box .head.ot .menu{
	height: 50px;
	float: left;
}
#head_box .head.ot .menu ul{
	height: 50px;
	float: left;
	padding: 0 0 0 15px;
}
#head_box .head.ot .menu ul li{
	width: 90px;
	height: 50px;
	float: left;
	line-height: 50px;
	text-align: center;
}
#head_box .head.ot form.choose{
	width: 100px;
	height: 25px;
	margin: 0 0 0 20px;
	display: block;
	float: left;
}
#head_box .head.ot form.choose select{
	width:100px;
	height: 25px;
	line-height: 25px;
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #333;
	text-align: center;
	margin: 11px 0 0 0;
}
#head_box .head.ot .menu ul li a{
	font-family: "微軟正黑體";
	font-size: 14px;
	color: #333; 
}
#head_box .head.ot .menu ul li a:hover{
	color: #C90;
}
/* BANNER */
#banner_box{
	width: 100%;
	height: 350px;
	float: left;
}
#banner_box .banner.ot{
	height: 350px;
	box-shadow: 0 0 5px #999;
	outline: #FFF 1px solid;
}
/*特效*/
.bannerbox.ot { 
	width: 950px; 
	height: 350px; 
	overflow: hidden;
	box-shadow: 0 0 5px #999;
	outline: #FFF 1px solid;
}
#focus { 
	width: 950px; 
	height: 350px; 
	clear: both; 
	overflow: hidden; 
	position: relative; 
	float: left; 
}
#focus ul { 
	width: 950px; 
	height: 350px; 
	float: left; 
	position: absolute; 
	clear: both; 
	padding: 0px; 
	margin: 0px; 
}
#focus ul li { 
	float: left; 
	width: 950px; 
	height: 350px; 
	overflow: hidden; 
	position: relative; 
	padding: 0px; 
	margin: 0px; 
}
#focus .preNext { 
	width: 550px; 
	height: 350px; 
	position: absolute; 
	top: 0px; 
	cursor: pointer; 
}
#focus .pre { 
	left: 0; 
	background: url(../images/sprite.png) no-repeat left center; 
}
#focus .next { 
	right: 0; 
	background: url(../images/sprite1.png) no-repeat right center; 
}
/* NNBOX */
#NNBOX{
	width: 100%;
	height: 50px;
	float: left;
	margin: 10px 0 10px 0;
}
#NNBOX .nn.ot{
	height: 50px;
	border: #dbdbdb 1px solid;
	border-radius: 10px;
	background: rgba(255,255,255,0.55);
}
#NNBOX .nn.ot .TT{
	width: 146px;
	height: 46px;
	float: left;
	margin: 2px;
	background: #000;
	text-align: center;
	line-height: 46px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #FFF;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
#NNBOX .nn.ot #marquee_block{
	width: 798px;
	height: 50px;
	float: left;
	line-height: 50px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #999;
	overflow: hidden;
}
/* ADV 首頁廣告區 */
#adv_box{
	width: 100%;
	margin: 0 0 140px 0;
	float: left;
}
#adv_box .adv.ot{
	height: 300px;
}
#adv_box .adv.ot .left{
	position: relative;
	width: 630px;
	float: left;
	height: 300px;
	outline: #FFF 1px solid;
	overflow: hidden;
}
#adv_box .adv.ot .left .adv_show_box{
	position: absolute;
	left: 0;
	top: 0;
	width: 630px;
	float: left;
}
#adv_box .adv.ot .left .adv_show_box .adv_show{
	width: 630px;
	height: 300px;
	position: relative;
	left: 0;
	top: 0;
	float: left;
	background: url(../images/QR.png) no-repeat;
}
#adv_box .adv.ot .left .adv_show_box .adv_show .adv_pic{
	width: 630px;
	height: 300px;
	float: left;
}
#adv_box .adv.ot .left .adv_show_box .adv_show .adv_text{
	position: absolute;
	z-index: 1;
	width: 350px;
	height: 90px;
	float: left;
	background: rgba(0,0,0,0.7);
	left: 10px;
	bottom: 10px;
	padding: 0 10px 10px 10px;
	font-family: '微軟正黑體';
	font-size: 14px;
	color: #FFF;
}
#adv_box .adv.ot .left .adv_show_box .adv_show .adv_text h1{
	font-size: 15px;
	display: block;
	border-bottom: #FFF 1px solid;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
#adv_box .adv.ot .left .adv_show_box .adv_show .adv_text h2{
	font-size: 11px;
	width: 100%;
	height: 50px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #FFF;
}
#adv_box .adv.ot .right{
	width: 300px;
	float: left;
	height: 300px;
	margin-right: 10px;
}
#adv_box .adv.ot .right .new_title{
	width: 310px;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
	font-family: '微軟正黑體';
	font-size: 15px;
	color: #FFF;
	margin: 0 0 0 10px;
	display: block;
	background: url(../images/new_title.jpg) no-repeat;
}
#adv_box .adv.ot .right .new_box{
	width: 300px;
	float: left;
	margin: 0 0 0 10px;
}
#adv_box .adv.ot .right .new_box ul{
	width: 350px;
	float: left;
}
#adv_box .adv.ot .right .new_box ul li{
	width: 300px;
	height: 30px;
	line-height: 30px;
	font-family: '微軟正黑體';
	font-size: 13px;
	float: left;
	text-overflow : ellipsis;
	overflow: hidden;
	white-space : nowrap;
	padding-left: 5px;
	border-bottom: #CCC 1px dashed;
}
#adv_box .adv.ot .right .new_box ul li a{
	color: #666;
}
#adv_box .adv.ot .right .new_box ul li a:hover{
	color: #960;
}
#adv_box .adv.ot .right .new_box .QR img{
	width: 80px;
	height: 80px;
	float: left;
	margin: 10px 0 0 10px;
}
#adv_box .adv.ot .right .new_box .SHOPPING{
	width: 200px;
	height: 80px;
	float: left;
	margin: 10px 0 0 10px;
	overflow: hidden;
}
#adv_box .adv.ot .right .new_box .SHOPPING img:hover{
	margin: -80px 0 0 0;
}
/* main_box 內容區塊 */
#main_box{
	width: 100%;
	float: left;
	margin: 0 0 140px 0;
}
#main_box .main.ot{
}
#main_box .main.ot .m_left{
	float: left;
	width: 200px;
}
#main_box .main.ot .m_left .m_title{
	background: url(../images/m_title.jpg) no-repeat;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #FFF;
}
#main_box .main.ot .m_left ul{
	width: 200px;
	float: left;
}
#main_box .main.ot .m_left ul li{
	width: 200px;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
	display: block;
	border-bottom: #CCC 1px dashed;
}
#main_box .main.ot .m_left ul li a{
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #333;
}
#main_box .main.ot .m_left ul li a:hover{
	color: #960;
}
#main_box .main.ot .t_main{
	float: left;
	width: 740px;
	margin: 0 0 0 10px;
}
#main_box .main.ot .t_main .t_name{
	float: left;
	width: 730px;
	height: 40px;
	line-height: 40px;
	background: url(../images/t_name.jpg) no-repeat;
	color: #FFF;
	font-family: '微軟正黑體';
	font-size: 14px;
	padding-left: 10px;
}
#main_box .main.ot .t_main .text_box{
	position: relative;
	float: left;
	width: 325px;
	height: 180px;
	outline: #FFF 1px solid;
	/*box-shadow: 0 0 5px #999;*/
	box-shadow: 0 5px 10px -3px #666;
	background: #FFF;
	margin: 20px 0 0 27px;
}
#main_box .main.ot .t_main .text_box .T_data{
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.65);
	width: 325px;
	height: 30px;
}
#main_box .main.ot .t_main .text_box .T_data h1{
	float: left;
	display: block;
	width: 305px;
	height: 30px;
	line-height: 30px;
	font-family: '微軟正黑體';
	font-size: 14px;
	color: #FFF;
	padding: 0 10px 0 10px;
	text-overflow : ellipsis;
	overflow: hidden;
	white-space : nowrap;
}
/* form */
form{
	float: left;
}
form .input_box{
	height: 25px;
	/*float: left;*/
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #333;
	line-height: 25px;
	margin: 0 0 10px 0;
}
form input[type="text"],input[type="password"],form select{
	margin: 0 10px 0 10px;
	padding: 0 0 0 10px;
	width: 300px;
	height: 25px;
	line-height: 25px;
	border: #999 1px solid;
	border-radius: 10px;
	box-shadow:1px 1px 3px 2px rgba(20%,20%,40%,0.2) inset;	
}
::-webkit-input-placeholder{
	color: #999;
	font-family: '微軟正黑體';
	font-size: 13px;
}	
input:-moz-placeholder{ 
	color: #999;
	font-family: '微軟正黑體';
	font-size: 13px;
}
form textarea{
	float: left;
	border-radius: 10px;
	border: #999 1px solid;
	box-shadow:1px 1px 3px 2px rgba(20%,20%,40%,0.2) inset;
	font-family: '微軟正黑體';
	font-size: 13px;
	max-width: 700px;
	max-height: 100px;
	padding: 10px 0 0 10px;
	width: 700px;
	height: 100px;
	display: block;
	margin: 5px 0 0 0;
}
form .button_box{
	width: 700px;
	float: left;
	margin: 0 0 0 10px;
}
form .button_box input[type="reset"]{
	margin: 10px 10px 0 10px;
	width: 100px;
	float: left;
}
form .button_box input[type="submit"]{
	margin: 10px 0 0 250px;
	width: 100px;
	float: left;
}
.t_main .contact_title{
	width: 740px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	margin: 5px 0 15px 0;
	font-family: '微軟正黑體',Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #666;
	border-bottom: #999 1px solid;
	box-shadow: 0 5px 10px -3px #666;
}
/* FOOTER */
#footer_box{
	width: 100%;
	/*
	float: left;
	margin-top: 30px;
	*/
	position: fixed;
	bottom: 0;
	left: 0;
}
#footer_box .footer{
	width: 100%;
	height: 100px;
	background: url(../images/f_link.jpg) repeat-x;
	float: left;
}
#footer_box .footer .f_link.ot{
	height: 100px;
}
#footer_box .footer .f_link.ot ul{
	float: left;
	height: 100px;
}
#footer_box .footer .f_link.ot ul li{
	width: 158px;
	height: 100px;
	line-height: 100px;
	float: left;
	text-align: center;
}
#footer_box .footer .f_link.ot ul li a{
	color: #FFF;
	font-family: '微軟正黑體';
	font-size: 13px;
}
#footer_box .copyright{
	width: 100%;
	height: 40px;
	background: #333;
	float: left;
	text-align: center;
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 40px;
}

/*延伸連結*/
#main_box .main.ot .t_main .links_box{
	float: left;
	width: 740px;
	height: 30px;
	background: rgba(255,255,255,0.6);
}
#main_box .main.ot .t_main .links_box ul{
	float: left;
	height: 30px;
	padding-left: 10px;
}
#main_box .main.ot .t_main .links_box ul li{
	float: left;
	height: 30px;
	line-height: 30px; 
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #666;
}

#main_box .main.ot .t_main .links_box ul li:before{
	content: ">";
	margin: 0 10px;
}

#main_box .main.ot .t_main .links_box ul li:first-child:before{
	content: '';
	margin: 0;
}

/*HOT BANNER*/
#main_box .main.ot .t_main .adv_banners{
	clear: both;
	margin: 0 0 1px 0;
	width: 740px;
	height: 273px;
}
#main_box .main.ot .t_main .pr_img{
	width: 120px;
	height: calc(120px + 1.5em);
	/*background: url(../img/NO-PIC.jpg) no-repeat;*/
	background: #FFF;
	margin: 5px 0 0 18px;
	float: left;
	text-align: center;
}
#main_box .main.ot .t_main .pr_img a{
	color: #333;
}
#main_box .main.ot .t_main .pr_img:hover a{
	color: #000;
}

#main_box .main.ot .t_main .pr_img a.img_btn{
	width: 120px;
	height: 120px;
	border: 3px solid #CCC;
	box-sizing: border-box;
	display: block;
}

/*產品內頁*//*產品圖片*/
#main_box .main.ot .t_main #pic_box{
	float: left;
	width: 715px;
	height: 300px;
	outline: #CCC 1px solid;
	margin: 5px 0 0 10px;
	padding: 0 0 0 5px;
	background: rgba(255,255,255,0.6);
}
#main_box .main.ot .t_main #pic_box #pic_0{
	width: 390px;
	height: 290px;
	float: left;
	margin: 5px 0 5px 0;
}
/*產品名稱*/
#main_box .main.ot .t_main #pic_box #pr_title{
	float: left;
	width: 310px;
	font-family: '微軟正黑體';
	font-size: 16px;
	color: #F60;
	font-weight: bold;
	margin: 5px 0 0 10px;
}
/*產品描述*/
#main_box .main.ot .t_main #pic_box #pr_narrative{
	float: left;
	width: 310px;
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #666;
	margin: 5px 0 0 10px;
}
#main_box .main.ot .t_main #pic_box form .pic_s{
	float: left;
	width: 85px;
	height: 65px;
	outline: #999 1px solid;
	margin: 5px 15px 10px 0;
}
/*產品訂購欄*/
#pic_box form{
	width: 300px;
	float: left;
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #333;
	margin: 10px 0 0 10px;
}
/*每列寬高*/
#pic_box form .rom{
	float: left;
	width: 280px;
	margin: 8px 0;
	clear: both;
}

select[name=amount]{
	margin: 0;
	padding: 0;
	width: auto;
	height: 25px;
	line-height: 25px;
	border: 1px solid #666;
	border-radius: 0;
}

/*加入購物車*/
#pic_box form input[type="submit"]{
	width: 100px;
	height: 50px;
	background: #C30;
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #FFF;
	line-height: 50px;
	text-align: center;
	border: none;
	padding: 0;
	margin: 0;
	border-radius: 5px;
}
#pic_box form input[type="submit"]:hover{
	background: #F60;
}
/*商品說明*/
#main_box .main.ot .t_main #pr_explanation{
	float: left;
	width: 720px;
	height: 29px;
	margin: 10px 0 0 10px;
	border-bottom: #CCC 1px solid;
	font-family: '微軟正黑體';
	font-size: 16px;
	color: #333;
}
/*商品串圖區*/
#main_box .main.ot .t_main #pr_data{
	float: left;
	width: 720px;
	min-height: 350px;
	margin: 0px 0 10px 10px;
	background: rgba(255,255,255,0.6);
}
/*內容P標籤*/
#main_box .main.ot .t_main p{
	font-family: '微軟正黑體';
	font-size: 14px;
	color: #333;
}