@charset "utf-8";
/* CSS Document */
a{
	text-decoration: none;
	font-family: '微軟正黑體';
	color: #666;
}
p a:hover{
	color: #09F;
}
#box{
	width: 640px;
	height:640px;
	position: absolute;
	top: 50%;
	right: 50%;
	margin: -320px -320px 0 0;
	outline: #000 1px solid;
}
#box .box{
	width: 160px;
	height: 160px;
	float: left;
}
#box .A,#box .B{
	width: 80px;
	height: 80px;
	background: #FFF;
	float: left;
	outline: #000 1px solid;
}
#box .B{
	background: #000;
}
#WP form{
	width: 800px;
	height: 600px;
	padding: 10px 0 0 25px;
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #333;
	outline: #333 1px solid;
}
/*------標題--------*/
#WP input.text_1{ 
	width: 400px;
	height: 25px;
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #333;
	line-height: 25px;
	margin: 5px 0 0 5px;
	text-indent: 5px;
}
/*------時間--------*/
#WP input.text_2{
	width: 120px;
	height: 25px;
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #333;
	line-height: 25px;
	margin: 5px 0 0 5px;
	text-indent: 5px;
}
textarea.msn_1{
	width: 750px;
	height: 400px;
	font-family: '微軟正黑體';
	font-size: 13px;
	color: #333;
	margin: 5px 0 0 5px;
}
input.button{
	font-family: '微軟正黑體';
	margin: 5px 0 0 5px;
	float: left;
}
h2{
	font-family: '微軟正黑體';
}
select.author{
	width: 150px;
	height: 25px;
	margin: 5px 0 0 5px;
}
#WP{
	width: 800px;
	margin: 20px auto 0 auto;
}
#WP .table{
	width: 700px;
	height: auto;
	font-family: '微軟正黑體';
	font-size: 14px;
}
.table .tr{
	width: 800px;
}
.table .tr .title{
	width: 200px;
	float: left;
	text-align: center;
	margin-bottom: 5px;
	height: 20px;
	line-height: 20px;
}
.table .tr .title a{
	color: #F90;
}
.table .tr .title a:hover{
	color: #09F;
}
.table .tr .articles{
	width: 300px;
	float: left;
	text-align: center;
	margin-bottom: 5px;
	height: 20px;
	line-height: 20px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
	font-size: 13px;
}
.table .tr .author{
	width: 100px;
	float: left;
	text-align: center;
	margin-bottom: 5px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
}	
.table .tr .editor{
	width: 50px;
	float: left;
	text-align: center;
	margin-bottom: 5px;
	height: 20px;
	line-height: 20px;
	font-family: Verdana, Geneva, sans-serif;
}
.table .tr .editor a{
	font-size: 12px;
	color: #999;
}
.table .tr .editor a:hover{
	font-size: 12px;
	color: #F90;
}