/* OGS ADMIN CSS setting */

/* CSS reset */
html,body,p,ol,ul,li,div,span,p,table,th,td,strong,a,noscript,nav,footer,main,h1,h2,h3,h4,h5,h6,hr,input[type=button],input[type=submit],input[type=reset]{
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: normal;
	font-size: 1em;
	font-family: Arial,"微軟正黑體","Microsoft JhengHei UI", "Microsoft JhengHei";
	letter-spacing: 0.01em;
}

input[type=button],input[type=submit],input[type=reset]{
	padding: 2px 15px;
	font-size: 0.8em;
}

input,select,textarea{
	outline: none;
}

table{
	border-collapse:collapse; 
	border-spacing:0;
}

img{
	border: 0;
}

a{
	color: #333;
	text-decoration: none;
}

a:before{
	content: '[ ';
}

a:after{
	content: ' ]';	
}

/*a.no-brackets:before,*/a.no-brackets:after{
	content: ' ';
}

a:hover{
	color: #d42a99;
}

*:after,*:before{
	content: ' ';
}

/* default defined */

.green{
	color: #2F96B4 !important;
}

.red{
	color: red !important;
}

.theme{
	color: #d42a99 !important;
}

.white,.white:hover{
	color: #FFF !important;
}

hr{
	height: 1px;
	border: none;
	background: #CCC;
	margin: 10px 0;
}

hr:before{
	background: #333;
}

.clear{
	clear: both;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

.float_l{
	float: left;
}

.float_r{
	float: right;
}

.span{
	display: inline-block;
	margin: 0 5px;
}

.must:before{
	content: '*';
	margin: 0 2px 0 0;
}

.hide{
	display: none;
}

label:after{
	content: '：';
}

h2{
	margin: 5px 0 10px -1em;
}

h2:before{
	content: ' ';
	margin: 0 5px;
	padding: 0 2px;
	background: #d42a99;
}

.animate{
	-webkit-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	transition: 0.5s ease;
}

/* header */
header{
	width: 100%;
	height: 40px;
	background: #DDD;
	position: relative;
	padding: 0 10px;
	box-sizing: border-box;
	z-index: 10;
}

header:after{
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -2px;
	background: #d42a99;
}

header:before,header ul:before{
	width: 0;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
}

header h1,header ul,header li{
	display: inline-block;
	vertical-align: middle;
}

header ul{
	position: absolute;
	top: 0;
	right: 10px;
}

header li{
	margin: 0 5px;
}

/* nav */
nav{
	position: absolute;
	width: 200px;
	height: 100%;
	top: 0;
	left: -200px;
	padding: 45px 0 0 0;
	box-sizing: border-box;
	z-index: 5;
	background: #FFF;
}

nav:after,nav:before{
	-webkit-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	transition: 0.5s ease;
}

nav:hover{
	left: 0px;
}

nav:hover + main{
	width: calc(100% - 200px);
	left: 200px;
}

nav:hover:after{
	width: 200px;
}

nav:hover:before{
	left: 200px;
}

nav:after{
	position: fixed;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	z-index: -1;
}

nav:before{
	position: fixed;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: #CCC;
}

nav label{
	display: block;
	width: 100%;
	background: #d42a99;
	margin: 5px 0;
	padding: 5px 10px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;
}

nav label:after{
	content: ' ';
}

nav ul ul li{
	margin: 10px 0;
	padding: 0 0 0 20px;
}

nav ul ul li a.current{
	color: #d42a99 !important;
}

nav > ul > li > ul{
	max-height: 0px;
	height: 0px;
	display: block;
	overflow: hidden;
}

nav:hover + main{
	width: calc(100% - 200px);
	left: 200px;
}

/* table */
table{
	margin: 20px 0;
}

th,td{
	padding: 5px 10px;
	white-space: nowrap;
}

th{
	color: #FFF;
	background: #d42a99;
	border-bottom: 1px solid #CCC;
}

td{
	border-bottom: 1px solid #CCC;
}

tr:hover,tr.current{
	background: #EEE;
}

tr.current *{
	color: #d42a99 !important;
}

/* main */
main{
	position: absolute;
	width: calc(100% - 1px);
	top: 40px;
	left: 0px;
	box-sizing: border-box;
	padding: 15px 0 40px 30px;
	z-index: 1;
}

#cate{
	margin: 20px 0;
}

#cate li{
	display: inline-block;
	margin: 0 10px 0 0;
}

/* column */
.column{
	width: 60%;
	padding: 0 20px 20px 20px;
	border-right: 1px solid #CCC;
	overflow-x: auto;
	float: left;
}
#column_block .column:first-child{
	width: auto;
	max-width: 30%;
}

.p,.sub{
	display: none;
}

.pc th{
	background: #FFF;
	cursor: pointer;
	color: #d42a99;
}

.active th{
	color: #FFF;
	background: #0769AD;
}

input[name=show_pc]{
	margin: 15px 0 0 0;
	display: none;
}