@charset "utf-8";
#main {
	height: 890px;
	width: 993px;
	margin: auto;
}
#logo {
	height: 85px;
	width: 181px;
	float: right;
}
#top {
	height: 85px;
	width: 993px;
	position: relative;
}
#menu {
	height: 85px;
	width: 812px;
	float: right;
	background-image: url(../img/index/top01.jpg);
}
#menu {
}
#menu-1 {
	height: 43px;
	width: 520px;
	margin-top: 40px;
	margin-left: 99px;
}
#main01 {
	height: 403px;
	width: 993px;
}
#main_re {
	height: 403px;
	width: 871px;
	float: left;
}
#main_left {
	float: right;
	height: 403px;
	width: 122px;
}
#batt {
	height: 402px;
	width: 993px;
}
#batt_left {
	height: 353px;
	width: 769px;
	float: left;
}
#menu_battle01 {
	width: 715px;
	height: 280px;
	margin-top: 50px;
	margin-left: 38px;
	position: relative;
}
#battle_reint {
	height: 353px;
	width: 224px;
	float: left;
}
#battme_battme {
	height: 50px;
	width: 993px;
	background-image: url(../img/index/battle03.jpg);
	float: left;
	font-family: "微軟正黑體", "新細明體";
	font-size: 14px;
	color: #666;
	text-align: center;
	letter-spacing: 1px;
	line-height: 25px;
	text-decoration: none;
}
#apDiv1 {
	position: absolute;
	width: 200px;
	height: 21px;
	z-index: 1;
	left: 728px;
	top: 1px;
	font-family: "微軟正黑體", "新細明體";
	font-size: 14px;
	color: #FFF;
}
